SMTP_USER_NAME=email
SMTP_PASSWORD=password

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DEV_DATABASE_NAME=rails_7_saas_jumpstart_development
TEST_DATABASE_NAME=rails_7_saas_jumpstart_test
DATABASE_USERNAME=dbusername
DATABASE_PASSWORD=dbpassword

## Strapi endpoint
## BASE_URI=localhost:1337

## Production
## DATABASE_URL="postgres://myuser:mypass@localhost/somedatabase"
