<div class="row mt-4">
<h1>Notifications</h1>

<div class="card">
  <div class="card-body">
    <% @notifications.each_with_index do |notification, index| %>
      <% if index != 0 %>
        <div class="row"><div class="col"><hr /></div></div>
      <% end %>

      <div class="row notification" id="<%= dom_id(notification) %>">
        <div class="col-sm-1 text-center">
        <ul>
          <%= link_to notification.message, notification.url(anchor: dom_id(notification)) do %>
          <li><%= notification.params %></li>
          <% end %>
        </ul>
        </div>
        <div class="col">
        <% if @notifications.empty? %>
        <div>Notifications coming very soon!</div>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>


