 <footer class="text-center text-white mt-4" style="background-color: #000000; background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register on Rails 7 SaaS for free</span>
           <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-outline-info btn-rounded" %>
         
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://xhostcom.com/">Paul Anthony McGowan</a>
    </div>
    <!-- Copyright -->
  </footer>





