
<div class="center jumbotron mt-5 mb-5">
  <div class="container">
    <div class="center">
      <h1 class="mt-3">Welcome to Rails 7 SaaS!</h1>
      <p class="lead">Fast Rails 7 App Starter Kit!
       </p>
    <p>Built with latest Rails 7, PostgreSQL, Bootstrap 5, Font Awesome 5, Devise Auth, Email Sends, User Avatars, Noticed, Announcements, <br /> Rollup, CSS Bundling, JS Bundling, Madmin, Turbo, Stimulus JS, Hotwire and Action Cable/Cable Ready<br /> Request JS with Redis Caching, Rubocop, Rspec & Multi Tenancy Support!</p>
     <%= link_to image_tag('rails.webp', :size => '1000x400') %>
    </div>
   </div>
</div>
