
<div class="center jumbotron mt-5 mb-5">
  <div class="container">
    <div class="centerfy">
      <h1 class="mt-3">Welcome to Lurve Tracker!</h1>
      <p class="lead">The worlds finest and fastest speed dating app!
       </p>
    <p>Built with latest Rails 7, Bootstrap 5, Stimulus JS, Hotwire, Turbo and other features</p>
    </div>
  </div>
</div>
