
<div class="center jumbotron mt-5 mb-5">
  <div class="container">
    <div class="center">
      <h1 class="mt-3">Welcome to Rails 7 SaaS!</h1>
      <p class="lead">Fastback Rails 7 App Starter Kit!
       </p>
    <p>Built with latest Rails 7, Bootstrap 5, Font Awesome  5, Stimulus JS, Hotwire, Turbo, Devise Auth, Email Sends, User Avatars <br />
      Notifications, Announcements and many other features</p>
    </div>
  </div>
</div>
